<div class="sidebar-wrapper" data-simplebar="true">
	<div class="sidebar-header">
		<div>
			<img src="~/adminassets/images/logo-icon.png" class="logo-icon" alt="logo icon">
		</div>
		<div>
			<h4 class="logo-text">Tri Trinh</h4>
		</div>
		<div class="toggle-icon ms-auto">
			<i class='bx bx-arrow-to-left'></i>
		</div>
	</div>
	<!--navigation-->
	<ul class="metismenu" id="menu">
		<li class="menu-label">UI Elements</li>
		<!--Quản lý đơn hàng-->
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon">
					<i class='bx bx-cart'></i>
				</div>
				<div class="menu-title">Quản lý đơn hàng</div>
			</a>
			<ul>
				<li>
					<a href="ecommerce-products.html"><i class="bx bx-right-arrow-alt"></i>Products</a>
				</li>
				<li>
					<a href="ecommerce-products-details.html"><i class="bx bx-right-arrow-alt"></i>Product Details</a>
				</li>
				<li>
					<a href="ecommerce-add-new-products.html"><i class="bx bx-right-arrow-alt"></i>Add New Products</a>
				</li>
				<li>
					<a href="ecommerce-orders.html"><i class="bx bx-right-arrow-alt"></i>Orders</a>
				</li>
			</ul>
		</li>
		<!--Quản lý sản phẩm-->
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-donate-blood"></i>
				</div>
				<div class="menu-title">Quản lý sản phẩm</div>
			</a>
			<ul>
				<li>
					<a href="icons-line-icons.html"><i class="bx bx-right-arrow-alt"></i>Line Icons</a>
				</li>
				<li>
					<a href="icons-boxicons.html"><i class="bx bx-right-arrow-alt"></i>Boxicons</a>
				</li>
				<li>
					<a href="icons-feather-icons.html"><i class="bx bx-right-arrow-alt"></i>Feather Icons</a>
				</li>
			</ul>
		</li>
		<!--Quản lý khách hàng-->
		<li>
			<a href="user-profile.html">
				<div class="parent-icon">
					<i class="bx bx-user-circle"></i>
				</div>
				<div class="menu-title">Quản lý khách hàng</div>
			</a>
		</li>
		<!--Doanh số-->
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-grid-alt"></i>
				</div>
				<div class="menu-title">Doanh số</div>
			</a>
			<ul>
				<li>
					<a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Quản lý danh mục</a>
				</li>
				<li>
					<a href="table-datatable.html"><i class="bx bx-right-arrow-alt"></i>Quản lý quyền truy cập</a>
				</li>
			</ul>
		</li>
		<!--Quản lý hệ thống-->
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-grid-alt"></i>
				</div>
				<div class="menu-title">Quản lý hệ thống</div>
			</a>
			<ul>
				<li>
					<a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Quản lý tài khoản</a>
				</li>
				<li>
					<a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Quản lý danh mục</a>
				</li>
				<li>
					<a href="table-datatable.html"><i class="bx bx-right-arrow-alt"></i>Quản lý quyền truy cập</a>
				</li>
				<li>
					<a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Quản lý Tỉnh/Thành</a>
				</li>
			</ul>
		</li>
		<!--Quản lý tin tức-->
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class='bx bx-message-square-edit'></i>
				</div>
				<div class="menu-title">Quản lý tin tức</div>
			</a>
			<ul>
				<li>
					<a href="form-elements.html"><i class="bx bx-right-arrow-alt"></i>Form Elements</a>
				</li>
			</ul>
		</li>
		<!--Quản lý Pages-->
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class='bx bx-bookmark-heart'></i>
				</div>
				<div class="menu-title">Quản lý Pages</div>
			</a>
			<ul>
				<li>
					<a href="component-alerts.html"><i class="bx bx-right-arrow-alt"></i>Alerts</a>
				</li>
				<li>
					<a href="component-accordions.html"><i class="bx bx-right-arrow-alt"></i>Accordions</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class='bx bx-message-square-edit'></i>
				</div>
				<div class="menu-title">Forms</div>
			</a>
			<ul>
				<li>
					<a href="form-elements.html"><i class="bx bx-right-arrow-alt"></i>Form Elements</a>
				</li>
				<li>
					<a href="form-input-group.html"><i class="bx bx-right-arrow-alt"></i>Input Groups</a>
				</li>
				<li>
					<a href="form-layouts.html"><i class="bx bx-right-arrow-alt"></i>Forms Layouts</a>
				</li>
				<li>
					<a href="form-validations.html"><i class="bx bx-right-arrow-alt"></i>Form Validation</a>
				</li>
				<li>
					<a href="form-wizard.html"><i class="bx bx-right-arrow-alt"></i>Form Wizard</a>
				</li>
				<li>
					<a href="form-text-editor.html"><i class="bx bx-right-arrow-alt"></i>Text Editor</a>
				</li>
				<li>
					<a href="form-file-upload.html"><i class="bx bx-right-arrow-alt"></i>File Upload</a>
				</li>
				<li>
					<a href="form-date-time-pickes.html"><i class="bx bx-right-arrow-alt"></i>Date Pickers</a>
				</li>
				<li>
					<a href="form-select2.html"><i class="bx bx-right-arrow-alt"></i>Select2</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-lock"></i>
				</div>
				<div class="menu-title">Authentication</div>
			</a>
			<ul>
				<li>
					<a href="authentication-signin.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign In</a>
				</li>
				<li>
					<a href="authentication-signup.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up</a>
				</li>
				<li>
					<a href="authentication-signin-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign In with Header & Footer</a>
				</li>
				<li>
					<a href="authentication-signup-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up with Header & Footer</a>
				</li>
				<li>
					<a href="authentication-forgot-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Forgot Password</a>
				</li>
				<li>
					<a href="authentication-reset-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Reset Password</a>
				</li>
				<li>
					<a href="authentication-lock-screen.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Lock Screen</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="javascript:;" class="has-arrow">
				<div class="parent-icon">
					<i class="bx bx-category"></i>
				</div>
				<div class="menu-title">Application</div>
			</a>
			<ul>
				<li>
					<a href="app-emailbox.html" class="tets"><i class="bx bx-right-arrow-alt"></i>Email</a>
				</li>
				<li>
					<a href="app-chat-box.html"><i class="bx bx-right-arrow-alt"></i>Chat Box</a>
				</li>
				<li>
					<a href="app-contact-list.html"><i class="bx bx-right-arrow-alt"></i>Contatcs</a>
				</li>
				<li>
					<a href="app-invoice.html"><i class="bx bx-right-arrow-alt"></i>Invoice</a>
				</li>
			</ul>
		</li>
		<li>
			<a class="has-arrow" href="javascript:;">
				<div class="parent-icon">
					<i class="bx bx-map-alt"></i>
				</div>
				<div class="menu-title">Maps</div>
			</a>
			<ul>
				<li>
					<a href="map-google-maps.html"><i class="bx bx-right-arrow-alt"></i>Google Maps</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="https://codervent.com/rocker/documentation/index.html" target="_blank">
				<div class="parent-icon">
					<i class="bx bx-folder"></i>
				</div>
				<div class="menu-title">Documentation</div>
			</a>
		</li>
		<li>
			<a href="https://themeforest.net/user/codervent" target="_blank">
				<div class="parent-icon">
					<i class="bx bx-support"></i>
				</div>
				<div class="menu-title">Support</div>
			</a>
		</li>
	</ul>
	<!--end navigation-->
</div>